.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 16px;
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, #FF9017, var(--percent), #D3D3D3 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
